# APPLICATIONS
JAVA_API_PORT=5000
GO_REDIRECTOR_PORT=5001
CLIENT_PORT=5002

CLIENT_HOST=http://localhost
VITE_JAVA_API=http://localhost:5000
VITE_GO_RDT=http://localhost:5001

# JWT
JAVA_JWT_SECRET=secret

# POSTGRES
PSQL_HOST=localhost
PSQL_PORT=4000
PSQL_USER=user
PSQL_PSWD=pass
PSQL_DBNM=ust_db_1

# REDIS
RDS_HOST=localhost
RDS_PSWD=pass
RDS_PORT=4001
